/* General Styling */
* {
    box-sizing: border-box;
    font-family: 'sans-serif', Arial, Helvetica;
    background-color: #333333;
    padding: 0;
    margin: 0;
}

/* Title */
.title {
    margin: 2rem;
    text-align: center;
    color: white;
}

/* Tier List */
.tier-list {
    margin: 1rem;
}

/* Rows */
.row-container {
    border: 1px solid black;
    display: flex;
}

.tier-box {
    border: 1px solid black;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    background-color: #202020;
    flex: 1;
    height: 80px;
}

.icon-box {
    border: 1px solid black;
    margin-left: auto;
    background-color: black;
    width: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.icon:hover {
    cursor: pointer;
    color: lightgray;
}

/* Buttons */
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    min-width: 110px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #202020;;
    color: white;
}

.btn:hover {
    background-color: lightgray;
    color: black;
}

/* Ranking Container */
.ranking-container {
    margin: 1rem;
}

.ranking-images {
    cursor: grab;
}

/* Forms */
form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    padding: 1rem;
    margin: 1rem 5rem;
}

#form-title {
    text-align: center;
    margin: 1rem;
}

#color-selector {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

label {
    margin: 1rem 1rem 0 1rem;
}

textarea {
    margin: 0 1rem;
    padding: 5px;
    min-height: 50px;
    font-size: 16px;
    color: white;
}

.form-button-container {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.form-button {
    height: 32px;
    color: black;
    margin: 1rem;
}

#submit-form {
    background-color: green;
}

#submit-form:hover {
    background-color: lightgreen;
}

#cancel-form {
    background-color: red;
    margin-left: auto;
}

#cancel-form:hover {
    background-color: lightcoral;
}