/* General Styling */
* {
    box-sizing: border-box;
    font-family: 'sans-serif', Arial, Helvetica;
    background-color: #333333;
    padding: 0;
    margin: 0;
}

/* Title */
.title {
    margin: 2rem;
    text-align: center;
    color: white;
}

/* Tier List */
.tier-list {
    margin: 1rem;
    border-width: 3px 3px 1px 3px;
    border-style: solid;
    border-color: black;
    padding: 0;
}

/* Rows */
.row-container {
    border-bottom: 2px solid black;
    display: flex;
}

.tier-box {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    background-color: #202020;
    flex: 1;
    min-height: 84px;
}

.icon-box {
    border: 1px solid black;
    margin-left: auto;
    background-color: black;
    width: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.icon:hover {
    cursor: pointer;
    color: lightgray;
}

/* Buttons */
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    min-width: 114px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #202020;;
    color: white;
}

.btn:hover {
    background-color: lightgray;
    color: black;
}

/* Ranking Container */
.ranking-container {
    margin: 1rem;
}

.ranking-images {
    cursor: grab;
    background-color: transparent;
    margin: 1px;
}

/* Forms */
form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    padding: 1rem;
    margin: 1rem 5rem;
}

.top-row-container {
    display: flex;
}

.form-title {
    justify-content: center;
    margin: auto;
}

.close-form-button {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: -10px;
    cursor: pointer;
}
      
.line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    transform-origin: center;
}
      
.line:nth-child(1) {
    transform: rotate(45deg);
}
      
.line:nth-child(2) {
    transform: rotate(-45deg);
}

#color-selector {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

#color-selector span {
    width: 30px;
    height: 30px;
    margin: 3px;
    display: inline-block;
    transition: box-shadow .1s;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
}

#color-selector span.selected {
    border: 2px solid black;
}

label {
    margin: 1rem 1rem 0 1rem;
}

textarea {
    margin: 0 1rem;
    padding: 5px;
    min-height: 50px;
    font-size: 16px;
    color: white;
}

.form-button-container {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.form-button {
    height: 32px;
    color: black;
    margin: 1rem;
}

#submit-form {
    background-color: green;
}

#submit-form:hover {
    background-color: lightgreen;
}

#cancel-form {
    background-color: red;
    margin-left: auto;
}

#cancel-form:hover {
    background-color: lightcoral;
}

.hidden {
    display: none;
}

/* Modal */
body.modal-open {
    overflow: hidden;
}

#modal {
    position: absolute;
    right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 100px;
}

